h1{ 
font-size: 150px;
font-family: 'Pacifico', cursive;
text-align: center;
position: relative;
top: 0;
left: 100;
color: goldenrod;
 }



div{
	color: lightgrey;



	}

 a {
 	font-family: 'Amatic SC', cursive;
 	font-size: 70px;
    position: relative;
    top: -10px;
    left: 660px;
 	text-align: center;
 	color: cornflowerblue;
 }

 li{
  font-size:20px;


 }

 body{ 
   background-image: url("../images/Backy.jpg");
   background-repeat: repeat-x;



  }

  .tabBar{
  width: 200px;
  height: 50px;
  color: lightgrey;

  }