

h1{
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 0px 0px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: 2px 2px black;
  color: white;
  top: 0;
  background-image:url(../image/waterDrops.jpeg);
}

h4{
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 15px;
  padding: 0px 0px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: 2px 2px black;
  color: black;
  background-color: white;
}
h3{
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 35px;
  padding: 0px 0px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: 2px 2px black;
  color: white;
}

body{
   
	
	background-color: lightblue;
}
.block{
    color: seagreen;
	width: 300px;
	height:200px;
}


.container{
	color: seagreen;

	width: 400px;
	height: 400px;
}
