body{
background: sandybrown;

}
#container{
	width: 2000px;
	
	float: left;
	background-color: white;
	position: relative;
	left:500px;
	margin: 0px auto;
}
.linkcontainer{
	width: 2000px;
	height: 200px;
	position: relative;
	top: 0;
	background-color: none;
}
.linkBar{
	width: 2000px;
	height: 800px
	margin: auto;
	background-color: black;
	position: relative;
	top: 60px;
}
.links{
	background-color: sandybrown;

}
.ogweb{ 
	color: black;
 }
.moreinfo{
	width: 2000px;
	height: 5px;
	position: relative;
	left: 50px;
	margin: auto;

}

.rescue{
	width: 2000px;
	height: 5px;
	position: relative;
	left: 600px;
	top: -5px;
	margin: auto;
}

.adopt{
	width: 2000px;
	height: 5px;
	position: relative;
	left: 1150px;
	top: -10px;
	margin: auto;
}

.toys{
	width: 2000px;
	height: 5px;
	position: relative;
	left: 1680px;
	top: -10px;
	margin: auto;
}

.Gpig{
	width: 1000px;
	/*height: 800px;*/
	position: relative;
	left: 0px;
	top: 10px;
	background-color: none;
	margin: auto;
}

img{
    width: 1200px;
    height: 800px;
    align-content: center;
    position: relative;

}

.header{
	background-color: none;
	position: relative;
	top: -400px;
	left: -10;
}
h1{
	font-size: 150px;
	text-align: center;
	font-family: 'Amatic SC', cursive;
}
.intro{
	margin-left: 300px;
	margin-right: 300px;
	position: relative;
	top: 200px;

	background-color: none;
}
p{  
	font-family: 'Karla', sans-serif;
	font-size: 35px;
}
.Tcontainer1{
	width: 1400px;
}

.title1{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 300px;
}

h2{
	font-size: 80px;
	color: white;
	font-family: 'Amatic SC', cursive;
	text-align: left;
}

.choosingP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 400px;
    left: -300px; 
    background-color: none;
    margin-left: 300px;
    margin-right: 300px;
}
.choosing{
	margin-left: 300px;
	margin-right: 300px;
	top: 20px;
}
.Tpig{
	width: 1400px;
	/*height: 1000px;*/
	position: relative;
	left: 0px;
	top: 5px;
	background-color: none;
	margin: auto;
}
img{
	width: 1400px;
	height: 1000px;
}

.picHead{
	width: 1000px;
	height: 900px;
	background-color: none;
	position: relative;
	top: 80px;
	left: 400px;
}




.healthP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 1500px;
    left: 0px; 
    background-color: none;
    margin-left: 300px;
    margin-right: 300px;
}

.title2{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.health{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}

.behaviorP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 1500px;
    left: 0px; 
    background-color: none;
    margin-left: 300px;
    margin-right: 300px;
}

.title3{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.behavior{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}


.feedingP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 1500px;
    left: 300px; 
    background-color: none;
    margin-left: 0px;
    margin-right: 300px;
}

.title4{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.feeding{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}

.hayday{
	position: relative;
	left: 300px;
	top: -900px;
	width: 100px;
	height: 100px ;
}
.firstpic{ 
	width: 1500px;
	
 }
 .blackwhite{
 	max-width: 100%;
 }

.handlingP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 2500px;
    left: 300px; 
    background-color: none;
    margin-left: 0px;
    margin-right: 300px;
}

.title5{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.handling{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}

li{
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

.exerciseP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 2500px;
    left: 300px; 
    background-color: none;
    margin-left: 0px;
    margin-right: 300px;
}

.title6{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.exercise{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}

.ogweb{
	font-size: 60px;
	color: black;
	font-family: 'Amatic SC', cursive;
	text-align: left;
	position: relative;
	top: -70px;

}

a{
	text-decoration: none;
}

a:hover {
	color: sandybrown;
}

.bathP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 2400px;
    left: 0px; 
    background-color: none;
    margin-left: 300px;
    margin-right: 300px;
}

.title7{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.bath{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}


.pigvid{
	width: 1400px; 
	height: 800px;
	position: relative;
	top: 0px;
	margin-left: 0px;

}

.hay{
	width: 400px;
	/*height: 800px;*/
}

.video{
	width: 1400px;
	height: 800px;
	background-color: blue;
	position: relative;
	top: 2300px;
	left: 300px;
}


@media only screen and (min-width: 1900px) {
    #container {
        background-color: lightgreen;
        width: 100%;
        
        
    }
    .ogweb{
    	width: 25%;
    	font-size: 40px;
    }
    .moreinfo{
    	width: 25%;
    }

    .rescue{
    	width: 25%;
    }

    .adopt{
    	width: 25%;
    }

    .toys{
    	width: 25%;
    }


    .picHead{
    	width: 80%
    	    }

    .Tpig{
    	width: 50%;
    	background-color: none;
    	position: relative;
    	left: 0px;
    }
    img{
    	width: 4000px;
    	height: 100%;
    	position: relative;
    	left: -400px;
    	/*margin-left: ;
    	margin-right: auto;*/

    }

    .header{ 
    	width: 100%;
    	position: relative;
    	left: -400px;
     }

     .choosingP{
     	width: 100%;
     }
     .title1{
     	width: 50%;
     }

     .healthP{
     	width: 100%;
     }
     .title2{
     	width: 50%;
     }
     
     .behaviorP{
     	width: 100%;
     }
     .title3{
     	width: 50%;
     }
     .feedingP{
     	width: 100%;
     }
     .title4{
     	width: 50%;
     }
     .handlingP{
     	width: 100%;
     }
     .title5{
     	width: 50%;
     }
     .exerciseP{
     	width: 100%;
     }
     .title6{
     	width: 50%;
     }
     .bathP{
     	width: 100%;
     }
     .title7{
     	width: 50%;
     }

     
     

     .Tcontainer1{
     	width: 100%;
     }
     .linkBar{
     	width: 100%;
        background-color: none ;
     }
     .links{
     	width: 100%;

     }
     .blackwhite{
     	width: 1000px;
    	left: 0;
    	margin: auto;
     }
     .linkcontainer{
     	width: 100%;
     }
     .moreinfo{
     	width: 100%;
     }
     .rescue{
     	width: 100%;
     }
     .adopt{
     	width: 100%;
     }
     .toys{
     	width: 100%;
     }
     .video{
     	width: 50%;
     }
     .pigvid{
     	width: 100%;
     }