body{
background: sandybrown;

}
.container{
	width: 2000px;
	height: 20000px;
	float: left;
	background-color: white;
	position: relative;
	left:500px;
}
.linkBar{
	width: 2000px;
	height: 5px;
	background-color: black;
	position: relative;
	top: 60px;
}
.moreinfo{
	width: 2000px;
	height: 5px;
}

.Gpig{
	width: 1000px;
	height: 800px;
	position: relative;
	left: 0px;
	top: 10px;
	background-color: pink;
	align-items: center;
}

img{
    width: 1200px;
    height: 800px;
    align-content: center;

}

.header{
	background-color: none;
	position: relative;
	top: -400px;
	left: -10;
}
h1{
	font-size: 150px;
	text-align: center;
	font-family: 'Amatic SC', cursive;
}
.intro{
	margin-left: 300px;
	margin-right: 300px;
	position: relative;
	top: 200px;

	background-color: none;
}
p{  
	font-family: 'Karla', sans-serif;
	font-size: 35px;
}

.title1{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 300px;
}

h2{
	font-size: 80px;
	color: white;
	font-family: 'Amatic SC', cursive;
	text-align: left;
}

.choosingP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 400px;
    left: -300px; 
    background-color: none;
    margin-left: 300px;
    margin-right: 300px;
}
.choosing{
	margin-left: 300px;
	margin-right: 300px;
	top: 20px;
}
.Tpig{
	width: 1400px;
	height: 1000px;
	position: relative;
	left: 300px;
	top: 5px;
	background-color: pink;
}
img{
	width: 1400px;
	height: 1000px;
}

.picHead{
	width: 1000px;
	height: 900px;
	background-color: none;
	position: relative;
	top: 80px;
	left: 400px;
}




.healthP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 1500px;
    left: 0px; 
    background-color: none;
    margin-left: 300px;
    margin-right: 300px;
}

.title2{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.health{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}

.behaviorP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 1500px;
    left: 0px; 
    background-color: none;
    margin-left: 300px;
    margin-right: 300px;
}

.title3{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.behavior{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}


.feedingP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 1500px;
    left: 300px; 
    background-color: none;
    margin-left: 0px;
    margin-right: 300px;
}

.title4{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.feeding{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}

.hayday{
	position: relative;
	left: 300px;
	top: -900px;
	width: 100px;
	height: 100px ;
}
img{ 
	width: 1400px;
	height: 1000px;
 }

.handlingP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 2500px;
    left: 300px; 
    background-color: none;
    margin-left: 0px;
    margin-right: 300px;
}

.title5{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.handling{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}

li{
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

.exerciseP{
    width: 2000px;
    height: 1000px;
    position: relative;
    top: 2500px;
    left: 300px; 
    background-color: none;
    margin-left: 0px;
    margin-right: 300px;
}

.title6{
	width: 1400px;
	height: 100px;
	background-color: black;
	margin-left: 0px;
}

.exercise{
	margin-left: 0px;
	margin-right: 600px;
	top: 20px;
}